body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: gold;
}

.top-container{
  position: relative;
  padding-top: 100px;
  background-color: #191970;
  color: gold;
}

h1 {
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2rem;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
}

p{
  color: gold;
}
.middle-container {
color: #191970;

}

.bottom-container {
background-color: #191970;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 150px auto;
  text-align: left;

}

.SharePoint{
  float: left;
  margin-right: 35px;


}

.Cyber{
  float: right;
margin-left: 35px;


}

.Webdev{
  float: left;
  margin-right: 35px;

}

.beardgabe{
border-radius: 65%
}

.skills{
}

.contact-me{
  background-color: gold;
  color: #191970;
}

.btn {
  background: #191970;
  background-image: -webkit-linear-gradient(top, #191970, #2980b9);
  background-image: -moz-linear-gradient(top, #191970, #2980b9);
  background-image: -ms-linear-gradient(top, #191970, #2980b9);
  background-image: -o-linear-gradient(top, #191970, #2980b9);
  background-image: linear-gradient(to bottom, #191970, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: gold;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


.btn:hover {
  background: #2980b9;
  background-image: -webkit-linear-gradient(top, #2980b9, #191970);
  background-image: -moz-linear-gradient(top, #2980b9, #191970);
  background-image: -ms-linear-gradient(top, #2980b9, #191970);
  background-image: -o-linear-gradient(top, #2980b9, #191970);
  background-image: linear-gradient(to bottom, #2980b9, #191970);
  text-decoration: none;
}

.moon{
  right: 900px;
  top: 105px;
  position: absolute;
}
